

.line1 {
  /*flex elements*/
  display: flex;
  flex-wrap: nowrap;
  /*box sizing*/
  width: 100%;
  margin: 0;
  padding: 0;
  /*styling elements*/
  justify-content: flex-end;
}

.days {
  /*flex elements*/
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  /*box sizing*/
  width: 100%;
  margin: 0;
  padding: 0;
  /*styling elements*/
}

.day1{
  border: 2px solid red;
  color: red;
  font-size: 16px;
  flex-shrink: 1;
  flex-grow: 0;
  width: 150px;
  height: 150px;
  text-align: center;
  align-items: right;

}

.days > * {
  color: red;
  font-size: 16px;
  flex-shrink: 1;
  flex-grow: 1;
  width: 150px;
  height: 150px;
  text-align: center;
  border: 2px solid red;
}
