body {
  background-color: #ffce89;
  text-align: center
}

h1 {
  color: #d57c00;
 font-family: 'FatFace';
 font-size: 300px;
 letter-spacing: 15px;
 text-align: left
 Rotate: 90deg
 padding: 0;
 margin: 0; 

}

.fancy-link{
  text-decoration: none;
  color: #ac6400;
  text-align: center;
  position: relative;
}

.fancy-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom:0;
  width: 100%;
  height: 2px;
  color: #d57c00;

  transform: scaleX(0.5);
}
.fancy-link::after:hover {
  transform: scaleX(1);
}
