body {
  background-color: #ffce89;
  text-align: center
  text-decoration: none;
}

h1 {
  color: white;
  font-family: 'Inter', sans-serif;
 font-size: 300px;
 letter-spacing: 15px;
 text-align: center;
 margin-top: -100px;
 padding-bottom: 50px;
}

.links {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: -100px;
}

.link7 {
  transform: scale(.35);
}

.link1:hover{
  scale: 1.2;
}

.link2:hover{
  scale: 1.2;
}

.link3:hover{
  scale: 1.2;
}

.link4:hover{
  scale: 1.2;
}

.link5:hover{
  scale: 1.2;
}

.link6:hover{
  scale: 1.2;
}
