body {
  background-color: #70a800
}

h1 {
  font-size: 200px;
  color: white;
  font-family: sans-serif;
  line-height: 150px;
  text-align: center;
}

iframe {
  border: 10px solid white;
  border-radius: 5%;
}

.best-movies {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
