#yin-yang {
  height:500px;
}


@keyframes yinyangSpin {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}

#yin-yang {
  animation: yinyangSpin 5s ease-out infinite;
  height:500px;
}
