body {
  background-color: #FAF1DC;
  font-family: 'Inter', sans-serif;
  font-size: 20pt;
}

.text {
  text-align: center;
}

.food {
  margin-top: 100px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 5rem;
  font-size: 12pt;
  width: 70px;
  height: 70px;
}

.elements{
  /* flexbox */
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-wrap: nowrap;
  flex-shrink: 1;
  gap: 15rem;
}

@media screen and (max-width: 500px){
  body {
    background-color: black;
    font-family: 'Inter', sans-serif;
    font-size: 20pt;
  }

  .text {
    text-align: center;
    color: #FAF1DC;
  }

  .food {
    margin-top: 0;
    margin-left: -40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: n;
    font-size: 12pt;
    width: 100px;
    height: 100px;
    gap: -1rem;
  }

  .elements{
    /* flexbox */
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-wrap: nowrap;
    flex-shrink: 1;
    gap: 5rem;
    transform: scale(0.5);
  }
}

.salt:hover{
  transform: rotate(-100deg);
}

.pepper:hover{
  transform: rotate(100deg);
  transition: ease-in;
}
