body {
  background-color: #FAF1DC;
  font-family: 'Inter', sans-serif;
  font-size: 20pt;
  overflow-y: none;
}

a {
  text-decoration: none;
  color: black;
}

.mix2{
  position: relative;
  font-size: 150px;
  animation: mixmove 8s steps(2,start), infinite;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes mixmove {
0%{
  margin-left: -25%;
}
100%{
  margin-left: 100%;
}
}

.text {
  margin-top: 2rem;
  text-align: center;
  margin-top: 5rem;
  color: black;
}

.food {
  margin-top: 5rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 5rem;
  font-size: 12pt;
  width: 70px;
  height: 70px;
  transform: scale(.8);
}

.pot {
  transform: scale(2);
}

.elements{
  z-index: 1;
  /* flexbox */
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-wrap: nowrap;
  flex-shrink: 1;
  gap: 12rem;
}

.mix{
  /* transform: rotate(-90deg);
  font-size: 150px;
  color: #FF6C6C;
  border: 15px solid #FF6C6C;
  position: absolute;
  margin-left: -7%;
  margin-top: 0; */
  opacity: 0%;
}

@media screen and (max-width: 500px){
  body {
    background-color: black;
    font-family: 'Inter', sans-serif;
    font-size: 20pt;
  }

  .mix2{
    position: absolute;
    opacity: 0%;
  }

  .text {
    text-align: center;
    color: #FAF1DC;
  }

  .food {
    margin-top: 2rem;
    /* margin-left: 40px; */
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: n;
    font-size: 12pt;
    width: 100px;
    height: 100px;
    gap: -1rem;
    transform: scale(0.5);
  }

  .pot{
    transform: scale(1);
  }

  .elements{
    /* flexbox */
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-wrap: nowrap;
    flex-shrink: 1;
    gap: 2rem;
  }

  .mix {
    position: relative;
    transform: rotate(0deg);
    text-align: center;
    font-size: 80px;
    color: black;
    background-color: white;
    border: none;
    opacity: 100%;
    margin-top: 2rem;
  }
}

.salt:hover{
  -webkit-transform: rotate(-100deg);
  -webkit-transition-timing-function: ease-in-out;
}

.pepper:hover{
  transform: rotate(100deg);
  transition: ease-in;
}
