body{
  background-color: #fff4ee;
}

.shade{
  height: 25px;
  width: 500px;
  border-radius: 50%;
  background-color: #d9c5bb;
  margin-top: 435px;
  margin-left: 400px;
  position: absolute;
  z-index: -1;
}

.pear1 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #c6de57;
  margin-top: 300px;
  margin-left: 300px;
  position: absolute;
     z-index: 1;
}

#egg {
  display: block;
  position: absolute;
  width: 126px;
  height: 180px;
  background-color: #c6de57;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  margin-top: 270px;
  margin-left: 330px;
   -webkit-transform: rotate(40deg);
      z-index: 1;
}

.stem {
width: 2px;
height: 25px;
background-color: #744124;
position: absolute;
 -webkit-transform: rotate(40deg);
 margin-top: 280px;
 margin-left: 445px;
   z-index: 1;
}

.vase{
  height: 350px;
  width: 170px;
  background-color: lightgray;
  position: absolute;
  margin-top: 95px;
  margin-left: 445px;
  z-index: -1;

}


    #triangle-topleft {
      width: 0;
      height: 0;
      border-top: 350px solid #fff4ee;
      border-right: 45px solid transparent;
      position:absolute;
      margin-top: 95px;
      margin-left: 445px;
    }

        #triangle-topright {
          width: 0;
          height: 0;
          border-top: 350px solid #fff4ee;
          border-left: 45px solid transparent;
          margin-top: 95px;
          margin-left: 570px;
          position:absolute;
        }

          #triangle-topleft2 {
            width: 0;
            height: 0;
            border-top: 100px solid lightgray;
            border-right: 100px solid transparent;
            position:absolute;
            margin-top: 95px;
            margin-left: 510px;
          }

      .raisin{
        width: 40px;
        height: 40px;
        background-color: #5e2646;
        border-radius: 50%;
        margin-top: 50px;
        margin-left: 520px;
        position:absolute;

      }

    .raisin4{
      width: 40px;
      height: 35px;
      background-color: #7a325c;
      border-radius: 50%;
      margin-top: 60px;
      margin-left: 545px;
      position:absolute;
    }

    .raisin5{
      width: 40px;
      height: 35px;
      background-color: #ad4882;
      border-radius: 50%;
      margin-top: 75px;
      margin-left: 535px;
      position:absolute;
      -webkit-transform: rotate(30deg)
    }

      .raisin1{
        width: 40px;
        height: 40px;
        background-color: #853563;
        border-radius: 50%;
        margin-top: 57px;
        margin-left: 500px;
        position:absolute;

      }

      .raisin2{
        width: 35px;
        height: 35px;
        background-color: #993f73;
        border-radius: 50%;
        margin-top: 70px;
        margin-left: 485px;
        position:absolute;
      }

      .raisin3{
        width: 25px;
        height: 25px;
        background-color: #ad4882;
        border-radius: 50%;
        margin-top: 80px;
        margin-left: 500px;
        position:absolute;
      }

      .raisin-stem{
        width: 2px;
        height: 20px;
        background-color: #744124;
        position: absolute;
         -webkit-transform: rotate(-20deg);
         margin-top: 90px;
         margin-left: 530px;
      }

      .raisin6{
        width: 35px;
        height: 30px;
        background-color: #853563;
        border-radius: 50%;
        margin-top: 110px;
        margin-left: 520px;
        position:absolute;
        -webkit-transform: rotate(75deg)
      }

      .stem2{
        width: 2px;
        height: 50px;
        background-color: #744124;
        position: absolute;
         -webkit-transform: rotate(10deg);
         margin-top: 95px;
         margin-left: 520px;
      }

      .stem3{
        width: 2px;
        height: 25px;
        background-color: #744124;
        position: absolute;
         margin-top: 143px;
         margin-left: 516px;
      }

      .raisin8{
          width: 30px;
          height: 40px;
          background-color: #853563;
          border-radius: 50%;
          margin-top: 165px;
          margin-left: 500px;
          position:absolute;
           -webkit-transform: rotate(15deg);
        }

      .raisin7{
        width: 30px;
        height: 40px;
        background-color: #ad4882;
        border-radius: 50%;
        margin-top: 157px;
        margin-left: 505px;
        position:absolute;
         -webkit-transform: rotate(-10deg);
      }

      .raisin9{
        width: 40px;
        height: 35px;
        background-color: #ad4882;
        border-radius: 50%;
        margin-top: 420px;
        margin-left: 570px;
        position:absolute;
         -webkit-transform: rotate(15deg);
      }
