body{
  background-color: tomato;
}

.object{
  background-color: yellow;
  height: 300px;
  width: 300px;
  animation: scale 8s steps(3,start) infinite;
  animation-timing-function: ease-in-out;
}

@keyframes scale {
  0%{
    width: 500px;
    height: 500px;
  }
  50%{
    width: 700px;
    height: 700px;
  }
  100%{
    width: 900px;
    height: 900px;
  }
}
