body {
  background-image: url("assets/background.png");
  font-family: 'Josefin Sans', sans-serif;
  color: #660000;
  font-size: 50px;
  line-height: 110px;
  font-weight: 700;
  text-align: center;
}

.buttons {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3rem;
}

.firstButton{
  width: 100px;
  height: 100px;
  background-color: #660000;
  border-radius: 50%;
}

.secondButton{
  width: 100px;
  height: 100px;
  background-color: #660000;
  border-radius: 50%;
}

.thirdButton{
  width: 100px;
  height: 100px;
  background-color: #660000;
  border-radius: 50%;
}

.fourthButton{
  width: 100px;
  height: 100px;
  background-color: #660000;
  border-radius: 50%;
}
.fifthButton{
  width: 100px;
  height: 100px;
  background-color: #660000;
  border-radius: 50%;
}

@media screen and (max-width: 500px) {
  body {
    background-image: url("assets/background2.png");
    font-family: 'Josefin Sans', sans-serif;
    color: #00158b;
    font-size: 25px;
    line-height: 50px;
    font-weight: 700;
    text-align: center;
  }

h1 {
  background-color: white;
  padding: 10px;
}

  .buttons {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 3rem;
  }

  .firstButton{
    width: 100px;
    height: 100px;
    background-color: #00158b;
    border-radius: 50%;
  }

  .secondButton {
    width: 100px;
    height: 100px;
    background-color: #00158b;
    border-radius: 50%;
  }

  .thirdButton {
    width: 100px;
    height: 100px;
    background-color: #00158b;
    border-radius: 50%;
  }

  .fourthButton {
    width: 100px;
    height: 100px;
    background-color: #00158b;
    border-radius: 50%;
  }
  .fifthButton{
    width: 100px;
    height: 100px;
    background-color: #00158b;
    border-radius: 50%;
  }
