h1{
  color: blue;
  object-position: center;
  font-size: 36px;
  letter-spcaing: 2px;
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: red;
  margin-left: 25px;
}

.entry2{
  size: 50%;
}
