body {
  font-family: 'Playfair Display', serif;
  max-width: 800px;
}

.title {
  font-size: 24px;
  letter-spacing: 1px;
  margin-left: 10px;
}
.title::after {
  width: 100%;
  height: 2px;
  background-color: black;
}


.list {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  background-color: #e2e2e2;
  width: 200px;
  height: 200px;
  padding: 10px;
}

.actual-list{
  color: blue;
  text-decoration: underline;
  line-height: 150%;
}
