body {
  background-color:  darkblue;
  font-family:  monospace;
  padding: 50px;
  color: white;
}

.title{
  text-align: center;
}

img {
  : center;
}

.content{
  max-width: 700px;
}

@media (min-width: 768px) {
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 45px;
  }
  body{
    background-color: lightblue;
  }
}

img{
  max-width: 50%;
}
